extends layout

block content
  h1 PhotoJeeves
  h2 Albums
  table
    thead
      tr
        th Google Album Name
        th Google # of Photos
        th Db Album Name
        th Db # of Photos
        th Google Id
    tbody
      each album in albums
        tr
          td= album.googleTitle
          td= album.googlePhotoCount
          td= album.dbTitle
          td= album.dbPhotoCount
    